.post {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%; 
}
.area {
    background-color: rgb(201, 198, 198);
    height: 300px;
    justify-content: space-around;
    font-size: 20px; 
    margin-block-start: 50px;
    padding-left: 50px;
    padding-right: 50px;
}