.page-title {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }