<div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search by title" />
  <button (click)="searchBooks(searchQuery)">Search</button>
  <button (click)="reload()">Refresh</button>
</div>

<div class="library-catalog">
    <div class="book-card" *ngFor="let item of filteredData; let i = index; trackBy: trackByIndex">
      <div class="book-image">
        <img [src]="generateImageUrl(i)" alt="Book Image" />
      </div>
      <h2 class="book-title">{{item.title}}</h2> 
      <p class="book-author">{{item.author}}</p>
      <p class="book-description">{{ item.description }}</p>
      <button class="check-availability-button" (click)="checkAvailability(item.userId, i)">Check Availability</button>
      <p>{{item.availability}}</p>
      <button *ngIf="reserveButton[i]" (click)="reservePopUp(i)">Reserve</button>
    </div>
</div>
